body {
    background: #B0E0E6;
}
.small-container {
    width: 400px;
    margin: 50px auto;
    font-size: 15px;
    margin-bottom: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 8px;
}
/*container for questions*/
.container {
  width: 800px;
  margin: 50px auto;
  font-size: 15px;
  margin-bottom: 15px;
  background: #f8f8f8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  border-radius: 8px;
}
h1 {
    text-align: center;
    margin: 0 0 15px;
    color:#329EAA; 
    font-family:verdana;
}
h2 {
    text-align: center;
    margin: 0 0 15px;
    font-family:verdana;
}
h3 {
    text-align: center;
    margin: 0 0 15px;
    color:#0b2185; 
    font-family:verdana;
}
/*heading for blue background*/
.header {
    text-align: center;
    margin: 0 0 15px;
    color:#FFFFFF; 
    font-family:verdana;
}
label {
    font-size:15px;
    display: block;
	  margin: 0px 0px 15px 0px;
    font-family:verdana;
}
.smallbluebtn {
    font-weight: bold;
    background-color: #329EAA;
    color:white;
    border-radius: 8px;
    border: none;
    padding: 5px 15px 8px 15px;
    text-align: center;
}
.exit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color: indianred;
    color:white;
    border-radius: 8px;
    border: none;
    text-align: center;
}
.subjectbtn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: bold;
    background-color: #329EAA;
    color:white;
    border-radius: 8px;
    border: none;
    width: 75%;
    padding: 14px 28px;
    text-align: center;
}
button {
    background-color: #329EAA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.back{
        display: block;
        margin-left: auto;
        margin-right: 5%;
        font-weight: bold;
        background-color: rgb(9, 155, 65);
        color:white;
        border-radius: 8px;
        border: none;
        padding: 5px 15px 8px 15px;
        text-align: center;
    
}